<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Discussion</title>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
  <div class="container">
    <h2><%= feed[0].title %></h2>
    <img src="<%= feed[0].img_url %>" alt="book picture">
    <p>
      <%= feed[0].description %>
    </p>
    <% for(var i = 0; i<feed.length; i++){ %>
        <div>
          <h4><%= feed[i].name %></h4>
          <p>
            <%= feed[i].comments %>
          </p>
        </div>
        <!--end comments -->
      <% } %>
  </div> <!--end container -->

</body>
</html>
